@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("./fonts/graphik/Graphik-Super.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url("./fonts/graphik-wide/GraphikWide-Super.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


html {
  font-family: 'Graphik', 'sans-serif';
} 

.text-wide {
  font-family: 'Graphik Wide', 'sans-serif'!important;
}